<div class="container">
  <div class="card">
  <div class="count-entries"><small> Number of entries: <%= @logs.count %></small></div>
  <% @logs.each do |log| %>
    <div class="card-block">
      <p class="card-text", style="margin: 15px;">

      Time:</b> <%= log.time %> <br>
      <small>IP:
      <%= link_to log.ip_address, by_path(ip: log.ip_address) %>
      </small><br>
      <small>Username: <%= log.username %> </small><br>
      <small>Password: <%= log.password %> </small><br>
      <% if log.session_length %>
        <small>Session length: <%= (log.session_length).ceil %> seconds</small><br>
      <% end %>
      <small>Log in attempt originated from:
        <% if !log.region&.empty? %>
          <%= log.region %>,
        <% end %>
        <% if !log.country&.empty? %>
          <%= log.country %>
        <% end %>
      </small>
      <% if log.country %>
        <%= image_tag "flags/#{log.country}.png",
              height: "20" %>
      <% end %>
      </p>
    </div>
  <% end %>
    <div class="will-paginate">
      <%= will_paginate @logs %>
    </div>
  </div>
</div>
